.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    min-height: 80vh;
}

.card {
    width: 360px;
    margin-left: 1em;
    margin-right: 1em;
    border: none;
    margin-bottom: 2em;
    text-decoration: none;
}