<app-navbar></app-navbar>
<main class="contenedor">
    <div class="row contenedor-2">
        <div class="col-7 nota">
            <div class="imagen"></div>
            <div class="articulo">
                <h5> GATO, VIAJES</h5>
                <h2>TIPS Y CONSIDERACIONES PARA PODER VIAJAR CON TU GATO</h2>
                <p>¿Ha llegado el momento de viajar, salir a relajarte a algún lado y quieres llevar al gato de
                    vacaciones contigo? Es muy válido que quieras compartir una experiencia así con tu michi, o que lo
                    lleves para poder estar muy al pendiente de él, pero hay ciertos detalles que debes de tener en
                    cuenta.

                    Los gatos, a diferencia de los perros, se estresan con mucha más facilidad, y aunque existe la
                    creencia de que son desapegados, lo cierto es que son animalitos que gustan de su entorno habitual y
                    sus rutinas, y no les agradan demasiado los cambios bruscos.

                    Es por eso que si planeas salir de viaje con tu minino, debes de prepararlo con antelación para que
                    cuando llegue el día, esté lo más cómodo posible.

                    <br>
                    <br>

                    <span class="subtitulos">¿QUÉ TENER EN CUENTA PREVIAMENTE PARA TRANSPORTAR GATOS?</span>
                    <br>
                    <br>

                    Si te vas a llevar al gato de fin de semana, lo primero es que consigas una transportadora para
                    gatos que veas apta tanto para ti como para tu minino, pero no inmediatamente antes de tu viaje,
                    sino con tiempo, así la podrás dejar donde él pueda interactuar con ella, meterse, conocerla y
                    familiarizarse.

                    Haz que la asocie con una zona de confort, ponle ahí algún juguete o un alimento que llame su
                    atención, como whiskas en sobres , es decir, algo que lo haga sentirse verdaderamente cómodo.

                    Puedes incluso rociar de feromonas la transportadora días antes, para poder tranquilamente llevar al
                    gato de vacaciones.

                    <br>
                    <br>

                    <span class="subtitulos">CONSIDERACIONES EXTRA</span>

                    <br>
                    <br>
                    ¿Llevar gato de vacaciones o no? Ve con el veterinario para que revise a tu michi, te indique su
                    estado de salud, y si está apto para una experiencia así. Igualmente, ten su cuadro de vacunación al
                    día.

                    En caso de que no haya problema, considera ahora si el destino es apto para tu mascota, si tendrá
                    todas las comodidades y le podrás dar todos sus cuidados. Ten a la mano lo necesario para que se
                    sienta como en casa, alguno de sus juguetes, su cama, y su alimento de siempre.

                    Si te es posible, haz viajes cortos de prueba, por ejemplo en un automóvil, de tal forma que el
                    gatito se vaya acostumbrando.

                    Colócale un arnés o collar con el que sea posible identificarlo, y cánsalo poco tiempo antes de
                    salir al destino definitivo.


                    <br>
                    <br>
                    <span class="subtitulos"> LLEVAR GATO DE VACACIONES: LA HORA DE LA VERDAD</span>

                    <br>
                    <br>
                    Siguiendo esos pasos, tu michi estará mucho más preparado para el viaje y será una mejor experiencia
                    para tu gato y para ti:

                    Cuando sea el día de llevar al gato de fin de semana, deposítalo en su transportadora y tápala, de
                    modo que tu felino no vea lo que sucede en el exterior, pero procurando que tenga orificios por los
                    cuales respire.
                    Esto evitará que sufra mareos por los estímulos visuales y, por lo tanto, que se estrese. Es también
                    recomendable que no lo alimentes desde horas antes de iniciar el traslado, ni durante este.
                    Prepárate con un arenero portable para que pueda ir al baño, en caso de que el viaje sea muy largo,
                    así como con bolsas para desechos y periódico.
                    Llévale agua, si es de tu hogar mucho mejor, para que el minino la sienta familiar. Además, es
                    importante que se mantenga hidratado durante el viaje.
                    Toma en cuenta todo lo anterior para transportar gatos, podrás viajar con tu michi sin problema
                    alguno, y seguro que disfrutará del paseo de una forma única.
                </p>
            </div>
            <div class="comentarios">
                <div class="derecha">
                    <button class="btn"><i class="fa-solid fa-heart"></i></button>
                    <h6>2</h6>
                    <button class="btn"><i class="fa-solid fa-comment"></i></button>
                    <h6>0</h6>
                </div>
                <div class="izquierda">
                    <button class="btn"><i class="fa-brands fa-facebook"></i></button>
                    <button class="btn"><i class="fa-brands fa-twitter"></i></button>
                    <button class="btn"><i class="fa-brands fa-instagram"></i></button>
                    <button class="btn"><i class="fa-brands fa-pinterest"></i></button>

                </div>
            </div>
        </div>
        <div class="texto col-1" style="background-color: #F6F6F6; width: 50px;"></div>
        <div class="col-4 barra">
            <h1>ÚLTIMOS ARTÍCULOS</h1>
            <hr>
            <div class="art1 row">
                <div class="texto col-8">
                    <h5>CUIDADO PERROS</h5>
                    <h3>¿A Los Cuántos Días Abren Los Ojos Los Perros?</h3>
                </div>
                <div class="imagen-peque col-4">
                    <img src="https://img.freepik.com/foto-gratis/adorable-retrato-cachorro-jack-russell-retriever_53876-64826.jpg?t=st=1655245261~exp=1655245861~hmac=897664c9f6d7a51813f551b62db6f3a969b0392f427120c8ebdebc1b768b482d&w=740"
                        alt="">
                </div>
            </div>
            <hr>
            <div class="art1 row">
                <div class="texto col-8">
                    <h5>PERROS</h5>
                    <h3>¿A Qué Edad Se Puede Esterilizar Una Gata?</h3>
                </div>
                <div class="imagen-peque col-4">
                    <img src="https://img.freepik.com/foto-gratis/closeup-foto-hermoso-gatito-domestico-jengibre-sentado-sobre-superficie-blanca_181624-35913.jpg?t=st=1655245261~exp=1655245861~hmac=4c3b284675550969280265bcad1f375b16b518e9e980c45e8a115e07e38ca66a&w=740"
                        alt="">
                </div>
            </div>
            <hr>
            <div class="art1 row">
                <div class="texto col-8">
                    <h5>GATOS PERROS</h5>
                    <h3>¿Cómo Calcular La Edad De Mi Mascota?</h3>
                </div>
                <div class="imagen-peque col-4">
                    <img src="https://img.freepik.com/foto-gratis/adorable-retrato-cachorro-bulldog-blanco_53876-64845.jpg?t=st=1655245261~exp=1655245861~hmac=f62fa20257e9982a6ad50c1b6ebde957c2dec98d02103006ddbfaa76788d49bb&w=740"
                        alt="">
                </div>
            </div>
            <hr>
            <div class="art1 row">
                <div class="texto col-8">
                    <h5>RAZAS</h5>
                    <h3>¿Cómo Cuidar Un Gato Siamés?, Datos Prácticos</h3>
                </div>
                <div class="imagen-peque col-4">
                    <img src="https://img.freepik.com/foto-gratis/retrato-gato-tailandes-primer-plano-gato-tailandes-fondo-azul_613571-472.jpg?w=740"
                        alt="">
                </div>
            </div>
            <hr>
            <div class="art1 row">
                <div class="texto col-8">
                    <h5>CUIDADO PERROS</h5>
                    <h3>¿Cómo Desparasitar A Mi Perro?</h3>
                </div>
                <div class="imagen-peque col-4">
                    <img src="https://img.freepik.com/foto-gratis/adorable-pug-cachorro-solo-retrato_53876-64831.jpg?t=st=1655245261~exp=1655245861~hmac=5c4b7590cd655c03efdfc39755fac7a14aa1930cb6a05d1416e70e52408325e2&w=740"
                        alt="">
                </div>
            </div>
            <hr>
            <div class="art1 row">
                <div class="texto col-8">
                    <h5>CUIDADO PERROS</h5>
                    <h3>¿Cómo Disminuir La Ansiedad De Tu Mascota En Tiempos De Cuarentena?
                    </h3>
                </div>
                <div class="imagen-peque col-4">
                    <img src="https://img.freepik.com/foto-gratis/perro-corgi-acostado-sofa-azul_651396-2378.jpg?t=st=1655245261~exp=1655245861~hmac=7923bd04672e599e0884d1c74ec10ec7f0e47c88b590e487ca19812e785f1764&w=740"
                        alt="">
                </div>
            </div>
            <hr>
            <div class="art1 row">
                <div class="texto col-8">
                    <h5>COMPORTAMIENTO PERROS</h5>
                    <h3>¿Cómo Educar A Tu Perro?</h3>
                </div>
                <div class="imagen-peque col-4">
                    <img src="https://img.freepik.com/foto-gratis/primer-plano-lindo-basset-fauve-bretagne-marron-claro-tratando-atrapar-algo_181624-46209.jpg?t=st=1655245261~exp=1655245861~hmac=e8e03e00712772d95abd3bdd8a45071f72f0de0662b09429a424d3b05bf37945&w=740"
                        alt="">
                </div>
            </div>
            <hr>
            <div class="categorias">
                <h1>CATEGORIAS</h1>
                <hr>
                <h3>Comportamiento</h3>
                <hr>
                <h3>Cuidado</h3>
                <hr>
                <h3>Gatos</h3>
                <hr>
                <h3>Nutricion</h3>
                <hr>
                <h3>Perros</h3>
                <hr>
                <h3>Viajes</h3>
                <hr>
            </div>
        </div>
    </div>
</main>