.fondo {
    background-color: #AEDBCE;
}

section {
  overflow: hidden;
  background-color: #6200ee;
  height: 92vh;
}

.formulario {
  background-color: #AEDBCE;
}

.bg-image-vertical {
  position: relative;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

form {
  font-family: "Poppins", sans-serif;
}


.titulo-2 {
  font-size: 1.2em;
  color: rgb(13, 13, 13);
}

.imagen {
  clip-path: ellipse(70% 70% at 80% 50%);
}

input {
  background-color: aliceblue;
}

.login {
  background-color: #ffc107;
}

p {
  color: #0a0a09;
}

a {
  text-decoration: none;
  color: #ee6002;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}
