<app-navbar></app-navbar>
<body >
    <div class="container row" >

        <div class="left-side col-8">
            <h1>POR NUESTROS AMIGOS DE 4 PATAS </h1>
            <br>
            <P>En LUCKY PETS, nuestro objetivo es ofrecerte la manera más facil y sencilla de adoptar a tu mascota ideal, garantizandote la mejor calidad.

                <br>
                Nuestros clientes son nuestra principal prioridad y a través de nuestras mascotas rescatadas, trabajamos arduamente para establecer relaciones duraderas y significativas con ellos.
                </P>
            <P>Si eres una persona defensora de animales, este sitio es para ti, pues puedes trabajar como voluntario para el rescate de perros y gatos </P>
            

            <div id="btn" ><button>DESCUBRE</button>
        
            </div>
            <!-- <div class="right-side">
                <div class="imagenes">
                    <i><img src="../../../assets/img/pagina1.jpg" alt="" width="160px"></i>
                    <i><img src="../../../assets/img/pagina2.jpg" alt="" width="160px"></i>
                    <i><img src="../../../assets/img/pagina3.jpg" alt="" width="160px"></i>

                </div>
               

            </div> -->

        </div>

        



    </div>
    <div class="right-side col-4">
        <div class="imagenes">

            <div>
                <img src="../../../assets/img/pagina1.jpg" alt="" width="160px">

            </div>
            <div>
                <img src="../../../assets/img/pagina2.jpg" alt="" width="160px">


            </div>
            <div>
                <img src="../../../assets/img/pagina3.jpg" alt="" width="160px">

            </div>


        </div>
       

    </div>
     
</body>

<app-footer></app-footer>




