<app-navbar></app-navbar>

<div class="container" id="hero">
    <div class="row justify-content-end">
        <div class="col-lg-6 hero-img-container">
            <a href="./single.html">
                <div class="hero-img">
                    <img
                        src="https://img.freepik.com/foto-gratis/mujer-vista-lateral-su-perro-pasando-buen-rato_23-2148728026.jpg?t=st=1655152557~exp=1655153157~hmac=fcf01df929ab23b2e808c0c82d7eaf830d54e5e1138d75502edfe1ba772a79ab&w=740">
                </div>
            </a>
        </div>

        <div class="col-lg-9" style="z-index: 100;">
            <div class="hero-title">
                <a href="./single.html">
                    <h1>Tips para viajar con tu mascota</h1>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hero-meta">
                <p>¿Ha llegado el momento de viajar, salir a relajarte a algún lado y quieres llevar al gato de
                    vacaciones contigo? Es muy válido que quieras...</p>
                <div class="author">
                    <div class="author-img"><img
                            src="https://img.freepik.com/foto-gratis/doctora-vistiendo-bata-laboratorio-estetoscopio-aislado_1303-29791.jpg?t=st=1655152456~exp=1655153056~hmac=86e392b20751d26a5b4efe1cb3167300f181b1daa0ee96566ed3c8801712f388&w=826">
                    </div>
                    <div class="author-meta">
                        <span class="author-name">Celeste Connell</span>
                        <span class="author-tag">Medica Veterinaria</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2 mb-2 pt-5 pb-5" id="article-grid">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img
                            src="https://images.pexels.com/photos/9693431/pexels-photo-9693431.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>
                    <div class="article-meta text-left">
                        <h2>Señales de ansiedad canina y como manejarlo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, provident.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12  text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="../../../assets/img/img-11.png">
                    </div>

                    <div class="article-meta  text-left">
                        <h2>Alergias alimentarias en mascotas: Nutricion basica</h2>
                        <p>Los síntomas de alergias alimentarias perros y gatos, así como los cuidados esenciales para
                            tratarlas, son asuntos que preocupan seriamente a quienes tienen una mascota...</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img
                            src="https://images.pexels.com/photos/8473450/pexels-photo-8473450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>

                    <div class="article-meta  text-left">
                        <h2>Conoce el alimento natural ideal para perros</h2>
                        <p>Es cada vez más alta la tendencia de variar la comida que se le puede dar a nuestros peludos
                            amigos, buscando que sea una alternativa...</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img
                            src="https://images.pexels.com/photos/8876160/pexels-photo-8876160.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>

                    <div class="article-meta text-left">
                        <h2>Buenas comida, mascotas felices</h2>
                        <p>The for probably of totally parameters gloomy probably walls hearing.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img
                            src="https://images.pexels.com/photos/8850572/pexels-photo-8850572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>

                    <div class="article-meta text-left">
                        <h2>Porque se le cae el pelo a mis perros</h2>
                        <p>Si es la primera vez que estás al cuidado de una mascota es posible que te preguntes por qué
                            se le cae el pelo a...</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img
                            src="https://images.pexels.com/photos/9978232/pexels-photo-9978232.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>

                    <div class="article-meta text-left">
                        <h2>Como saber si mi gata esta embarazada</h2>
                        <p>¿Cómo saber si mi gata está embarazada? Si he visto que se comporta raro, mejor llevarla al
                            veterinario para confirmar mis sospechas. Ahora bien, antes...</p>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img
                            src="https://images.pexels.com/photos/10122494/pexels-photo-10122494.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>

                    <div class="article-meta text-left">
                        <h2>Cuanto dura el celo de una perra?</h2>
                        <p>Si tienes una perrita de mascota, conocer cuánto dura el celo de una perra es una cuestión es
                            muy importante para su desarrollo y bienestar....</p>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img
                            src="https://images.pexels.com/photos/6490022/pexels-photo-6490022.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>

                    <div class="article-meta text-left">
                        <h2>Porque las mascotas contribuyen a la salud mental</h2>
                        <p>En 2020, contrario a lo que se esperaba...</p>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img
                            src="https://images.pexels.com/photos/7726100/pexels-photo-7726100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>

                    <div class="article-meta text-left">
                        <h2>A que edad se puede esterilizar una gata?</h2>
                        <p>Para quienes somos amantes de los animalitos, como los perros y los gatos, sabemos que la
                            sobrepoblación es un problema que los afecta, porque conlleva...

                        </p>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img
                            src="https://images.pexels.com/photos/7290075/pexels-photo-7290075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>

                    <div class="article-meta text-left">
                        <h2>Como desparasitar a mi perro</h2>
                        <p>Como tutores de mascotas, uno de los primeros asuntos que debemos llegar a comprender es el
                            por qué desparasitar a nuestros animales de compañía. Y ¿qué es... </p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
<div class="container text-center pb-3 mb-5">
    <a href="#" class="btn btn-lg btn-light">Mas articulos</a>
</div>

<div class="funciona">
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-cols-4 row-cols-md-4 g-4" style="width: 95%; height: 70%; margin: 0 auto;">
                    <div class="col tarjeta">
                        <div class="card " style=" border: none;">
                            <img src="assets/img/pexels-11233818.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">SENALES DE ANSIEDAD CANINA Y COMO MANEJARLO</h5>
                                <button class="btn leer">LEER MAS</button>

                            </div>
                        </div>
                    </div>
                    <div class="col tarjeta">
                        <div class="card" style=" border: none;">
                            <img src="assets/img/pexels-gillian-harrison-4668425 (1).jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">CONOCES LA RAZON POR LA QUE RONORNEA UN GATO</h5>
                                <button class="btn leer">LEER MAS</button>
                            </div>
                        </div>
                    </div>
                    <div class="col tarjeta">
                        <div class="card" style=" border: none;">
                            <img src="assets/img/pexels-lina-kivaka-1741205.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PORQUE LOS PERROS SE LAMEN LAS PATAS</h5>
                                <button class="btn leer">LEER MAS</button>

                            </div>
                        </div>
                    </div>
                    <div class="col tarjeta">
                        <div class="card" style=" border: none;">
                            <img src="assets/img/pexels-mark-alvin-11217297.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">CUAL ES LA MEJOR ALIMENTACION DE LOS GATOS DOMESTICOS</h5>
                                <button class="btn leer">LEER MAS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-4 row-cols-md-4 g-4" style="width: 95%; height: 70%; margin: 0 auto;">
                    <div class="col tarjeta">
                        <div class="card " style=" border: none;">
                            <img src="assets/img/pexels-11233818.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">COMO DESPARASITARA MI PERRO?</h5>
                                <button class="btn leer">LEER MAS</button>

                            </div>
                        </div>
                    </div>
                    <div class="col tarjeta">
                        <div class="card" style=" border: none;">
                            <img src="assets/img/pexels-gillian-harrison-4668425 (1).jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">CONOCE CUANTOS ANOS VIVE UN GATO INDOOR</h5>
                                <button class="btn leer">LEER MAS</button>
                            </div>
                        </div>
                    </div>
                    <div class="col tarjeta">
                        <div class="card" style=" border: none;">
                            <img src="assets/img/pexels-lina-kivaka-1741205.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">DESCRUBRE VARIOS TIPOS DE ARENA PARA TU GATO</h5>
                                <button class="btn leer">LEER MAS</button>

                            </div>
                        </div>
                    </div>
                    <div class="col tarjeta">
                        <div class="card" style=" border: none;">
                            <img src="assets/img/pexels-mark-alvin-11217297.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">DATOS PRACTICOS PARA EL CUIDADO DE GATITOS</h5>
                                <button class="btn leer">LEER MAS</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<app-footer></app-footer>