<app-navbar></app-navbar>
<main class="flex-shrink-0">
    <!-- Header-->
    <header>
        <img src="../../../assets/img/wave-1.svg" />
        <img src="../../../assets/img/wave-1.svg" />
        <img src="../../../assets/img/wave-1.svg" />
        <img src="../../../assets/img/wave-1.svg" />
        <img src="../../../assets/img/wave-1.svg" id="shape" />
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-12 col-xl-7 col-xxl-12 fondo-usuario">
                    <div class="my-5 text-center text-xl-start bienvenido">
                        <h1 class=" text-white mb-4">Bienvenido {{nombre}}</h1>
                        <p class="lead fw-normal mb-4">En este espacio puedes registar, editar, actualizar
                            y eliminar las mascotas que deseas dar en adopcion!
                        </p>
                        <button type="submit" (click)="modal()" class="btn mt-4 crear">
                            Crear mascota
                        </button>
                    </div>

                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-end paws"><img class="img-fluid rounded-3 my-5"
                        src="../../../assets/img/paws.png" alt="..." /></div>
            </div>
        </div>
    </header>


    <!-- <header class="encabezado">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">

                <div class="col-lg-6 col-xl-7 col-xxl-6 fondo-usuario">
                    <div class="my-5 text-center text-xl-start bienvenido">
                        <h1 class=" text-white mb-4">Bienvenido {{nombre}}</h1>
                        <p class="lead fw-normal mb-4">En este espacio puedes registar, editar, actualizar
                            y eliminar las mascotas que deseas dar en adopcion!
                        </p>
                        <button type="submit" (click)="modal()" class="btn mt-4 crear">
                            Crear mascota
                        </button>
                    </div>

                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-end paws"><img class="img-fluid rounded-3 my-5"
                        src="../../../assets/img/paws.png" alt="..." /></div>
            </div>
        </div>

    </header> -->
    <!-- <div class="forma">
    </div> -->
    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center tituloDos">
                        <h2 class="fw-bolder">Tus mascotas agregadas</h2>
                    </div>
                </div>
            </div>
        </div>


        <!--estilo#2-->
        <div class="row mascotas-cards">
            <div class="profile-card col-4">
                <div class="profile-card-header">
                    <div class="profile-image"></div>

                    <div class="profile-info">
                        <h3 class="profile-name">Nombre mascota</h3>
                        <p class="profile-desc">sexo</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quibusdam explicabo iusto
                            fuga
                            nesciunt accusantium..</p>
                    </div>
                </div>

                <div class="profile-card-body">
                    <ul class="status">
                        <li>
                            <span class="status-value">2 años</span>
                            <hr>
                            <span class="status-text">edad</span>
                        </li>

                        <li>
                            <span class="status-value">felino</span>
                            <hr>
                            <span class="status-text">Especie</span>
                        </li>
                        <li>
                            <span class="status-value">Bogota</span>
                            <hr>
                            <span class="status-text">ciudad</span>
                        </li>
                    </ul>

                    <div class="action">

                        <button class="btn boton-adoptar">Adoptar</button>
                    </div>
                </div>
            </div>

            <div class="profile-card col-4">
                <div class="profile-card-header">
                    <div class="profile-image"></div>
                    <div class="profile-info">
                        <h3 class="profile-name">Nombre mascota</h3>
                        <p class="profile-desc">sexo</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel velit accusamus consectetur
                            nisi
                            maxime nihil.</p>
                    </div>
                </div>

                <div class="profile-card-body">
                    <ul class="status">
                        <li>
                            <span class="status-value">2 años</span>
                            <hr>
                            <span class="status-text">edad</span>
                        </li>

                        <li>
                            <span class="status-value">felino</span>
                            <hr>
                            <span class="status-text">Especie</span>
                        </li>
                        <li>
                            <span class="status-value">Bogota</span>
                            <hr>
                            <span class="status-text">ciudad</span>
                        </li>
                    </ul>

                    <div class="action">
                        <button class="btn boton-adoptar">Adoptar</button>
                    </div>
                </div>
            </div>


            <div class="profile-card col-4">
                <div class="profile-card-header">
                    <div class="profile-image"></div>

                    <div class="profile-info">
                        <h3 class="profile-name">Nombre mascota</h3>
                        <p class="profile-desc">sexo</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus minus quod incidunt
                            quidem
                            aspernatur dignissimos!</p>
                    </div>
                </div>

                <div class="profile-card-body">
                    <ul class="status">
                        <li>
                            <span class="status-value">2 años</span>
                            <hr>
                            <span class="status-text">edad</span>
                        </li>

                        <li>
                            <span class="status-value">felino</span>
                            <hr>
                            <span class="status-text">Especie</span>
                        </li>
                        <li>
                            <span class="status-value">Bogota</span>
                            <hr>
                            <span class="status-text">ciudad</span>
                        </li>
                    </ul>

                    <div class="action">

                        <button class="btn boton-adoptar">Adoptar</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <app-form-crear [showModal]="showModal" (onCloseModal)="onCloseModal()"></app-form-crear>
</main>