.carousel-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1500px;
  margin: auto;
  margin-top: 40vh;
}
.image-container {
  margin-top: 1em;
  border-radius: 10px;
  height: 300px;
  width: 200px;
  overflow: hidden;
  -webkit-box-shadow: 5px -1px 12px -6px rgba(0, 0, 0, 0.35);
  box-shadow: 5px -1px 12px -6px rgbba(0, 0, 0, 0.35);
}

.image-container img {
    height: 100%;
}

.row-container {
  margin-right: 20px;
}

.row-container:nth-child(1) {
  animation-name: column;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.row-container:nth-child(2) {
  animation-name: column;
  animation-delay: 0.5s;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.row-container:nth-child(3) {
  animation-name: column;
  animation-delay: 1s;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.row-container:nth-child(4) {
  animation-name: column;
  animation-delay: 1.5s;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.row-container:nth-child(5) {
  animation-name: column;
  animation-delay: 2s;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.row-container:nth-child(6) {
  animation-name: column;
  animation-delay: 2.5s;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.row-container:nth-child(7) {
  animation-name: column;
  animation-delay: 3s;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes column {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(300px);
    opacity: 0;
  }
}
.row-container:nth-child(even) {
  margin-top: 5em;
}
.overflow {
  z-index: 1;
  position: fixed;
  top: 50vh;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255,255, 255, 1) 100%
  );
}
.text-overflow {
  z-index: 2;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  flex-direction: row;
  align-items: center;
  top: 20vh;
  right: 0;
}


.text-orange {
  color: #f58634;
}
.text-yellow {
  color: #ffcc29;
}
.text-green {
  color: #00af91;
}
.text-carousel {
  width: 450px;
}
