<app-navbar></app-navbar>
<div class="carousel-container">
  <div *ngFor="let imageCol of images; index as i" class="row-container">
    <div *ngFor="let image of imageCol" class="image-container">
      <img src="{{ image.url }}" />
    </div>
  </div>
  <div class="overflow"></div>
  <div class="text-overflow">
    <h1 class="display-3 fw-regular mx-3">Rescatado es</h1>
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner text-carousel">
        <h2 class="carousel-item display-4 fw-lighter text-orange active">
          mi raza favorita
        </h2>
        <h2 class="carousel-item display-4 fw-lighter text-yellow">
          amor incondicional
        </h2>
        <h2 class="carousel-item display-4 fw-lighter text-green">
          compromiso 
        </h2>
      </div>
    </div>
  </div>
</div>
